<section class="text-center cover">
    <nav class=" bg-none position-fixed fixed-top d-flex justify-content-between">
        <div class="m-sm-3 mt-2" style="width: 200px; height: 30px">
            <svg viewBox = "0 0 519 123" >
                <g fill="none" fill-rule ="evenodd">
                    <title>Tinder</title>
                    <path  d="M31.5 49.6C55 41.5 59 20.4 56 1c0-.7.6-1.2 1.2-1C79.7 11 105 35 105 71c0 27.6-21.4 52-52.5 52a50 50 0 0 1-28.2-92.7c.6-.4 1.4 0 1.4.7.3 3.7 1.3 13 5.4 18.6h.4z" fill="#fff"></path>
                    <path d="M171.2 101.1l1.7-2 5.3 16.8-.7.7c-4 3.7-10 5.6-17.7 5.6h-.3c-7 0-12.5-2-16.3-5.7-3.8-3.8-5.8-9.5-5.8-16.7V54h-13.5V35.5h13.5V13.2h20.8v22.3h16.5V54h-16.6v41.3c0 1.9.5 8 6.3 8 3 0 5.8-1.1 6.8-2.3zm11 19.2V35.6H203v84.7h-20.8zM192.5 1A12.5 12.5 0 1 1 180 13.6C180 6.8 185.7 1 192.5 1zm66.4 32.5c18 0 27.9 9.8 27.9 27.7v59H266V66.2c-.4-9.6-5-14-14.8-14-8.8 0-15.9 5.4-19.5 10v58h-20.8V35.7h20.8v9c6-5.8 15.6-11 27.2-11zM356 44.4V4.6h20.8v115.8H356v-8.8a34.3 34.3 0 0 1-24.7 10.7c-22.7 0-37.9-17.8-37.9-44.3 0-26.6 15.2-44.4 37.9-44.4A34 34 0 0 1 356 44.4zm0 17.9a25.6 25.6 0 0 0-19.6-10c-12.9 0-21.5 10.3-21.5 25.7 0 15.3 8.6 25.6 21.5 25.6 7.5 0 15.7-4 19.6-9.8V62.3zm69.4-28.7c24.6 0 41.7 19 41.7 46v5.7h-62.9c2.1 11.9 11.5 19.5 24.3 19.5 8.1 0 17-3.5 22.1-8.6L452 95l9.9 14.2-1 .9a48.6 48.6 0 0 1-34.1 12.2c-26 0-44.3-18.3-44.3-44.4a42.8 42.8 0 0 1 43-44.3zm-21.3 36h42.7c-1.2-12.7-11.7-18.5-21.4-18.5-14.6 0-20.1 11-21.3 18.6zm113.3-36h1.5v21l-1.8-.3c-1.5-.3-3.4-.5-5.3-.5-6.7 0-16 4.7-19.5 9.7v56.7h-20.8V35.6h20.9V45c6.9-7.2 16-11.4 25-11.4z" fill="#fff"></path>

                </g>
            </svg>
        </div>
        <div class="m-5">
            <a class="text-white text-decoration-none"  href="/users/listuser">

                <span class="p-1 btn-language"><i class="fas fa-user"></i>LIST USER </span>
            </a>
            <button type="button" href="#" class="btn btn-light text-danger">LOG-OUT</button>
        </div>
    </nav>
    <div class="cover-container">
        <div class="cover-inner container">
            <p class="lead">Swipe Right®</p>
            <p>
                <a type="button" href="/create" class="trigger-btn">CREATE ACCOUNT</a>
            </p>
        </div>
    </div>
</section>
<section class="content">
    <div class="">
        <div class="row">
            <div class="col-sm border rounded">
                    <span class="d-flex justify-content-between">
                        <h3 class="border-bottom font-weight-bold">Rebecca Stephenson</h3>
                        <i class="fas fa-quote-left"></i>
                    </span>

                <p style="font-size: 1.6rem;">I was also adamant the next man I'd be with and commit to, would be
                    the man I'd spend the rest of
                    my life with (just not married). I was very fussy and didn't expect to meet a man on Tinder. I
                    decided to sign up anyways and just match away and see what happened.</p>
            </div>
            <div class="col-sm border rounded">
                    <span class="d-flex justify-content-between">
                        <h3 class="border-bottom">Courtney & Miranda</h3>
                        <i class="fas fa-quote-left"></i>
                    </span>

                <p style="font-size: 1.6rem;">Thanks to Tinder I have found the love of my life and we are to be
                    married.
                    After going on a few dates and having a few fun nights I came across Miranda. After reading her
                    profile I couldn’t resist swiping right after reading her final sentence... ‘Looking for my
                    super babe for life.’ After talking for about a week we went out on our first date and I knew
                    there was something special about her!</p>
            </div>
            <div class="col-sm border rounded">
                    <span class="d-flex justify-content-between">
                        <h3 class="border-bottom">Ryan and Lindsey Walsh</h3>
                        <i class="fas fa-quote-left"></i>
                    </span>

                <p style="font-size: 1.6rem;">...just gotten out of a bad breakup and created a Tinder account to
                    keep my mind off the breakup.
                    After about a week of talking, we decided to meet up at a local bar for drinks...we decided to
                    tie the knot in an 18 person ceremony in New Jersey on June 27th 2020.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class=" border-bottom">
        <div class="row">
            <div class="col-sm">
                <h2>Safety</h2>
                <ul class="list-group">
                    <li>
                        <a href="" class="list-group-item list-group-item-action"> Community Guidelines</a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Safety Tips</a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action"> Safety & Policy</a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Security</a>
                    </li>

                </ul>
            </div>
            <div class="col-sm">
                <h2>Legal</h2>
                <ul class="list-group">
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Privacy</a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Terms</a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Cookie Policy </a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Intellectual Property</a>
                    </li>

                </ul>
            </div>
            <div class="col-sm">
                <h2>Careers</h2>
                <ul class="list-group">
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Careers Portal</a>
                    </li>
                    <li>
                        <a href="" class="list-group-item list-group-item-action">Tech Blog </a>
                    </li>

                </ul>
            </div>
            <div class="col-sm ">
                <h2>Social</h2>
                <nav class="navbar navbar-light">
                    <div class="">
                        <a class="navbar-brand" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="navbar-brand" href="#"><i class="fab fa-tiktok"></i></a>
                        <a class="navbar-brand" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="navbar-brand" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="navbar-brand" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </nav>
            </div>
            <div class="col-sm ">
                <ul class="list-group">
                    <li><a href="" class="list-group-item list-group-item-action">Press Room</a></li>
                    <li><a href="" class="list-group-item list-group-item-action">Contact</a></li>
                    <li><a href="" class="list-group-item list-group-item-action">Subscription Tiers</a></li>
                    <li><a href="" class="list-group-item list-group-item-action">Support</a></li>
                    <li"><a href="" class="list-group-item list-group-item-action">Promo Code</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-bottom">
            <span class="d-flex ">
                <h2>Get the app !!</h2>
            </span>
        <p style="font-size: 1.4rem; margin-bottom: 10px;">Single people, listen up: If you’re looking for love,
            want to start dating, or
            just keep it casual, you
            need to be on Tinder. With over 55 billion matches made, it’s the place to be to meet your next best
            match. Let’s be real, the dating landscape looks very different today, as most people are meeting
            online. With Tinder, the world’s most popular free dating app, you have millions of other single people
            at your fingertips and they’re all ready to meet someone like you. Whether you’re straight or in the
            LGBTQIA community, Tinder’s here to bring you all the sparks.</p>

        <p>There really is something for everyone on Tinder. Want to get into a relationship? You got it. Trying to
            find some new friends? Say no more. New kid on campus and looking to make the most of your college
            experience? Tinder U’s got you covered. Tinder isn’t your average dating site — it’s the most diverse
            dating app, where adults of all backgrounds and experiences are invited to make connections, memories,
            and everything in between.</p>
    </div>
    <div class="help">
        <div class="d-flex justify-content-between">
            <nav class="navbar navbar-light">
                <div class="">
                    <a class="navbar-brand" href="#">Safety Tips /</a>
                    <a class="navbar-brand" href="#">Terms / </a>
                    <a class="navbar-brand" href="#">Cookie Policy /</a>
                    <a class="navbar-brand" href="#">Privacy Settings </a>
                </div>
            </nav>
            <p>© 2021 Match Group, LLC, All Rights Reserved.</p>
        </div>

    </div>
</footer>